.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    font-size: 6em;
    font-weight: 900;
}

.bar{
    display: flex;
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    overflow: hidden;
    gap: 1em;
    align-items: center;
    padding: 0 1em 0 1.5em;
    background-color: #ffffff;
    color: #dcdcdc;

    &:hover {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
    }

    &:focus-within {
        box-shadow: 1px 1px 8px 1px #dcdcdc;
        outline:none;
        color: black;
    }
}

.urlbar{
    height: 2.5em;
    border:none;
    font-size:16px;
    outline: none;
    flex-grow: 1;
}

.start {
    position: relative;
    text-decoration: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}