.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    align-items: center;
    justify-content: center;
}

.logo {
    text-align: center;
    font-size: 6em;
    font-weight: 900;
}